html{
    text-align: -webkit-center;
}
body{
    width: 1024px;
    margin: 0;
}
header{
    background-color: #FFD59E;
    height: 147px;
    position: relative;
}
header > h1 {
    margin: 0;
    left: 10px;
    max-width: max-content;
    position: absolute;
}
header > h3 {
    z-index: 1;
    top: 21px;
    right: 25px;
    position: absolute;
}
header > hr {
    background-color: #FF6738;
    width: 660px;
    height: 9px;
    top: 96px;
    right: 0;
    position: absolute;
}
nav{
    background-color: #FF6738;
    height: 46px;
    top: 147px;
    text-align: justify;
    padding-left: 71px;
}
nav > a {
    color: #fff;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 43px;
    margin: 5px 5px 5px 5px;
    padding: 12px 10px 15px 10px;
    text-decoration: none;
}
nav > a:hover {
    background-color: #FFD59E;
    color: #000000;
}
#bannere{
    width: 100%;
    height: 300px;
    background: url("image/mountains.jpg");
    background-size: cover;
	background-position: center;
}
#profl{
    width: 327px;
    height: 297px;
    top: 512px;
}
#bgimg{
    background: url("image/winter.jpg");
    width: 100%;
    height: 360px;
    background-size: cover;
	background-position: center;
}
h1{
    color: #FF6738;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 72px;
    line-height: 102px;
}
h2{
    color: #FF6738;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    line-height: 78px;
    text-transform: uppercase;
}
h3{
    color: #FF6738;
    font-family: Tahoma, sans-serif;
    font-weight: normal;
    font-size: 36px;
}
h4{   
    color: #FF6738;
    margin: 0;
    font-family: Tahoma, sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 58px;
    text-transform: uppercase;
    margin-top: 10px;
}
#hangm{
    margin-top: 35px;
    margin-bottom: 0px;
}
hr{
    border: none;
}
p{
    color: #000000;
    text-align: justify;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    line-height: 23px;
}
#betwn{
    position: relative;
    margin-top: 18px;
    margin-bottom: 18px;
}
#betwn > .ora {
    text-align: start;
}
#betwn > p {
    width: 644px;
    top: 552px;
    left: 352px;
}
#betwn > .ora > hr {
    background-color: #FF6738;
    width: 666px;
    height: 9px;
    top: 280px;
    right: 0;
    position: absolute;
}
#acide{
    position: absolute;
    right: 0;
    top: 0px;
    width: 65%;
}
#acide > h3 {
    color: #FFA938;
    margin: 0;
    font-weight: 600;
}
article{
    column-count: 2;
    margin: 18px 0px 52px 0px;
}
.ico{
    width: 502px;
    height: 292px;
}
#fondateur{
    background-color: #FFD59E;
    position: relative;
}
#fondateur > p {
    column-count: 2;
}
.caption{
    top: 275px;
    right: 15px;
    color: #FF6738;
    font-family: Tahoma, sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    position: absolute;
}
#services{
    position: relative;
}
#services > h2 {
    text-align: left;
    margin-left: 50px;
}
#services > .fali > hr {
    background-color: #FF6738;
    width: 605px;
    height: 54px;
    top: 12px;
    right: 0px;
    position: absolute;
}
#tarif{
    position: relative;
}
#tarif > .fali > h2 {
    z-index: 1;
    text-align: right;
    padding-right: 40px;
}
#tarif > .fali > hr {
    background-color: #FF6738;
    height: 54px;
    top: 0;
    left: 0;
    position: absolute;
    width: 610px;
}
#doctarif{
    width: 1024px;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
}
th{
    vertical-align: top;
    background-color: #FF6738;
    color: #fff;
}
#contacter{
    position: relative;
}
#contacter > h2 {
    margin-bottom: 5px;
    margin-left: 50px;
    text-align: left;
}
#contacter > .fali > hr {
    background-color: #FF6738;
    width: 495px;
    height: 54px;
    right: 0;
    top: 5px;
    position: absolute;
}
form{
    text-align: left;
    width: 1024px;
}
input{
    background-color: #FFD59E;
    border: none;
    padding: 18px;
    margin: 35px 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 5px;
    color: #B7B7B7;
    font-family: Tahoma, sans-serif;
    font-weight: 500;
    font-size: 24px;
}
::placeholder{
    color: #B7B7B7;
    opacity: 1;
}
#mandat{
    background-color: #FFD59E;
    border-radius: 5px;
    border: none;
    width: -webkit-fill-available;
    padding: 18px;
    margin: 35px 20px;
    color: #B7B7B7;
    font-family: Tahoma, sans-serif;
    font-weight: 500;
    font-size: 24px;
}
#mandat:focus{
    outline: none;
}
#nom{
    width: 395px;
}
#prenom{
    width: 500px;
}
#courriel{
    width: 656px;
}
#telephone{
    width: 656px;
}
button{
    background-color: #FF6738;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: #FF6738;
    border-radius: 5px;
    height: 86px;
    width: 310px;
    margin-bottom: 35px;
    margin-left: 627px;
    color: #dddddd;
    font-size: 24px;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}
footer{
    background-color: #C4C4C4;
}
footer > h1 {
    margin-top: 0;
    padding-left: 45px;
    left: 0;
    max-width: max-content;
}
footer > p {
    padding-left: 45px;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 18px;
    padding-bottom: 30px;
}
footer > .fali > hr {   
    background-color: #FF6738;
    width: 620px;
    height: 54px;
    top: 20px;
    right: 0;
    position: absolute;
}
.fali{
    width: 1024px;
    position: relative;
    text-align: left;
}
.ora{
    position: relative;
    width: 1024px;
}